<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <unitTestProvider name="MsTest"/>
    <stepAssemblies>
      <stepAssembly assembly="TipCalc.UITest.Shared"/>
    </stepAssemblies>
    <plugins>
      <!--<add name="TipCalc.UITest.WindowsCodedUI" path="..\TipCalc.UITest.Windows.Generator\bin\debug" type="Generator"/>-->
      <add name="TipCalc.UITest.WindowsCodedUI" path="..\packages" type="Generator"/>
    </plugins>
  </specFlow>
</configuration>